<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://dev-system.lrscloud3.com/rule/_20201202s8797n</string>
	<string>https://system.lrscloud3.com/material/ic_follow_simple.png</string>
	<string>https://system.lrscloud3.com/material/pic_novice_boot_01.png</string>
	<string>https://dev-system.lrscloud3.com/rule/_202011231gklr1</string>
	<string>https://dev-system.lrscloud3.com/rule/_2021032436axjx</string>
</array>
</plist>
